@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  overflow: scroll;
}

.app-ctnr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-ctnr {
  color: white;
}

.main-ctnr {
  height: 100vh;
}

.item-ctnr {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.item {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

.item > img {
  height: 75px;
  width: 75px;
}

.item-btn {
  padding: 0.2rem 1rem;
  background-color: blue;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.footer-ctnr {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-ctnr > svg {
  height: 30px;
  width: 30px;
}

.footer-ctnr > p {
  vertical-align: middle;
}