@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* CSS Reset*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: scroll;
}

.app-ctnr {
  display: flex;
  flex-direction: column;
}

.header-ctnr {
  color: white;
}

.modal {
  font-size: 1.2rem;
  z-index: 10;
  padding: 1rem;
  position: absolute;
  height: 300px;
  width: 400px;
  color: white;
  border-radius: 10px;
}

.modal-bg {
  position: absolute;
  display: grid;
  place-items: center;
  height: 1350px;
  width: 100vw;
  background: rgba(0,0,0,0.4)
}

.modal > h4 {
  text-align: center;
  padding: 1rem;
}

.modal > button {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background: green;
  border-radius: 10px;
}

.item-ctnr {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.item {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

.item > img {
  height: 75px;
  width: 75px;
}

.item-btn {
  padding: 0.2rem 1rem;
  background-color: blue;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.scoreboard {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.high-score {
  margin-top: 0;
}

.play-again-btn {
  padding: 0.4rem 1rem;
  background-color: green;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 1rem auto;
  display: block;
  font-size: 1.2rem;
}

.footer-ctnr {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-ctnr > svg {
  height: 30px;
  width: 30px;
}

.footer-ctnr > p {
  vertical-align: middle;
}

@media only screen and (max-width: 1240px) {
  .item-ctnr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}